[user]
  name = Ezra Ramatong
  email = mail.ezra@proton.me
	signingkey = 554AC8545223094D0C524D2CD62716ADFF69C32C

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[init]
  defaultBranch = main

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[help]
  autocorrect = prompt

[commit]
  verbose = true
	gpgsign = true

[core]
  excludesfile = ~/.gitignore

[pull]
        # rebase = true
