@import "frappe.css";

* {
  font-family: MartianMono Nerd Font;
  min-height: 0;
}

#waybar {
  background: @crust;
  color: @text;
  margin: 5px 5px;
}

button:hover {
	background: inherit;
	box-shadow: inset 0 -3px @base;
}
#workspaces {
  margin: 5px;
  margin-right: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button.focused {
  color: @green;
}

#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-power {
  padding: 0 10px;
  margin: 0.8rem 0;
}

#clock {
  color: @blue;
  border-radius: 1rem;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
